
@import 'bulma/sass/utilities/_all';
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/form/_all.sass";
@import 'bulma/sass/form/select';
@import 'bulma/sass/layout/footer';
@import 'bulma/sass/grid/columns';
@import 'bulma/sass/elements/button';

body {
    background-color: #222222;;
}

@font-face {
    font-family: 'bitwise';
    src: url('/fonts/Bitwise-m19x.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'vt323';
    src: url('/fonts/VT323-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
